h1  {text-align: center; padding: 10px; font-family: sans-serif;}

div {padding: 10px; margin-top: 2%; margin-bottom: 2%; margin-left: auto; margin-right: auto;
	font-family: sans-serif;}

#red {background-color: black; color: #FFFFF0; width: 50%; padding: 20px; 
	text-align: center; margin-top: }

#jaketitle {text-align: center;}

#jake {text-align: left; padding: 10px}

#green {background-color: #223c5f; color: #f7ae65; width: 50%; padding: 20px; 
	text-align: center;}

#jungwontitle

#jungwon 